@font-face {
  font-family: "VT323";
  src: url("fonts/VT323-Regular.woff2") format("woff2"),
    url("fonts/VT323-Regular.woff") format("woff"),
    url("fonts/VT323-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background-color: $color-light;
  color: $color-dark;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: $font-display;
  color: $color-dark;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;

  @media (min-width: $breakpoint-md) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;

  @media (min-width: $breakpoint-md) {
    font-size: 2rem;
  }
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $color-secondary;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding-left: 1rem;
}
