{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}
{% block description %}{{ section.title }} - {{ section.description }}{% endblock %}

{% block content %}

<h1>{{ section.title }} - <i>{{section.description}}</i></h1>
<div class="intro border-left-primary">{{ section.content | safe }}</div>


<section class="recent-section">
  <h2>{% if lang == "fr" %}
    Les Dernières Péripéties
    {% else %}
    The Last Adventures
    {% endif %}</h2>
  <div class="gradient-divider"></div>

  <p>{% if lang == "fr" %}
    Retrouve ici mes dernières expériences !
    {% else %}
    Stay tuned for updates on my latest experiments!
    {% endif %}</p>
  <ul class="carousel">

    {% set quest = get_section(path="quests/_index.md", lang=lang) %}
    {% set codex = get_section(path="codex/_index.md", lang=lang) %}
    {% set lab = get_section(path="lab/_index.md", lang=lang) %}

    {% set_global recent_pages = [] | concat(with=quest.pages)| concat(with=codex.pages)| concat(with=lab.pages)
    |
    sort(attribute="date") | reverse | slice(end=3) %}

    {% for page in recent_pages %}
    <li class="carousel-item">
      <a href="{{ page.permalink }}" class="card">
        <h3>{{ page.title }}</h3>
        <p><i>{{ page.description }}</i></p>
        <span class="card-meta">{{ page.date | date(format="%d %B %Y") }}</span>
      </a>
    </li>
    {% endfor %}

    {% set count = recent_pages | length %}
    {% for i in range(end=3 - count) %}
    <li class="carousel-item">
      <div class="card card-coming-soon">
        <h3>🚧 TODO 🚧</h3>
        <p><i>Explosion is coming...</i></p>
        <span class="card-meta">soon...</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="hero-section">
  <h2>{% if lang == "fr" %}
    À Propos <i>(en presque deux mots)</i>
    {% else %}
    About Me <i>(in almost two words)</i>
    {% endif %}</h2>
  <div class="gradient-divider"></div>

  <p>🧢 Product & Tech Leader {% if lang == "fr" %}
    le jour
    {% else %}
    by day
    {% endif %}</p>
  <p>
    🛠️ Extreme Programmer {% if lang == "fr" %}
    explorant et <i>bidouille-codant</i> des trucs chaotiques et bizares la nuit
    {% else %}
    exploring and tinkering with weird and chaotic stuff by night
    {% endif %}
  </p>
</section>
{% endblock %}