{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block description %}{{ section.title }} - {{ section.description }}{% endblock %}

{% block content %}
<h1>
  {{ section.title }} - <i>{{section.description}}</i>
</h1>

<div
  class="intro border-left-{% if current_path is starting_with('/lab') %}secondary{% elif current_path is starting_with('/codex') %}accent{% else %}primary{% endif %}">
  {{ section.content | safe }}
</div>

{% if section.pages %}
<div>
  {% for page in section.pages %}
  <article>
    <h2>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h2>
    <p>
      {{ page.description }}
    </p>
    <div class="gradient-divider"></div>
  </article>
  {% endfor %}
</div>
{% endif %}
{% endblock %}